a:link, a:visited, a:hover, a:active{
    text-decoration: none; 
    color: inherit;
  }
  
  * {
      margin: 0;
      padding: 0;
  
  }
  
  ::before,
  ::after {
    box-sizing: border-box;
  }
  
  body{
      background-color: #ddb892;
      scroll-behavior: smooth;
      
  }
  
  header{
      background-color: #e2bf9c;
      height: 75px;
      color: black;
  
  }
  
  .logo {
    padding: 20px 40px 20px 40px;
    margin-left: 12.5em;
    font-size: 22px;
    float: left;
  }
  
  .home{
      font-size: 18px;
      font-family: "Laila", serif;
      margin-right: 12.5em;
  
  }
  
  ul li{
      list-style: none;
      padding: 20px;
      float: right;
  
      }
.flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: normal;
    align-content: normal;
    }


.flex-items:nth-child(3) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    }  
    
    #div1 {
        display: block;
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: auto;
        align-self: auto;
        order: 0;
        background-color: #ddb892;
        height: 85vh;
        color: #262020;
        font-size: 42px;
        font-family: "EB Garamond", serif;
    
    
    }
    .hello{
        margin: 3.13em, 6.25em, 3.13em, 6.25em;
        padding: 6.25em;
        
    }
    
    p{
        font-family: "Quintessential", serif;
        font-size: 21px;
    
    }
    
    script{
        float: bottom-right;
    
    }
    .page2{
        position: relative;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin: 0.2em;
        padding: 1.3em;
    
    
    }
    
    .image{
        float: right;
        margin: 0.2em;
    }
    
    button {
      --primary-color: #b08968;
      --secondary-color: #002152;
      --hover-color: #eceff2;
      --arrow-width: 10px;
      --arrow-stroke: 2px;
      box-sizing: border-box;
      border: 0;
      border-radius: 50px;
      color: var(--secondary-color);
      padding: 1em 1.8em;
      background: var(--primary-color);
      display: flex;
      transition: 0.2s background;
      align-items: center;
      gap: 0.6em;
      font-family: "Laila", serif;
      cursor: pointer;
      font-weight: bold;
      transition-duration: 0.4s ease;
    }
    
    button .arrow-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    button .arrow {
      margin-top: 1px;
      width: var(--arrow-width);
      background: var(--primary-color);
      height: var(--arrow-stroke);
      position: relative;
      transition: 0.2s;
    }
    
    button .arrow::before {
      content: "";
      box-sizing: border-box;
      position: absolute;
      border: solid var(--secondary-color);
      border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
      display: inline-block;
      top: -3px;
      right: 3px;
      transition: 0.2s;
      padding: 3px;
      transform: rotate(-45deg);
    }
    
    button:hover {
      background-color: var(--hover-color);
    }
    
    button:hover .arrow {
      background: var(--secondary-color);
    }
    
    button:hover .arrow:before {
      right: 0;
    }
    
    
    
    #div2 {
        display: block;
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: auto;
        align-self: auto;
        order: 0;
    
    
    }
    .card{
        margin: 2em;
        padding: 3em;
        font-size: 22px;
        font-family: "EB Garamond", serif;
        align-items: center;
    
    
    }
    
    .block {
      display: flex;
      align-content: center;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-evenly;
      font-family: 'Monospace';
      color: black;
      margin: 5em;
    }
    
    .grid {
      margin: 20px 20px;
      padding: 100px;
      border-radius: 5px;
      font-size: 16px;
      width: 300px;
      background-color: rgba(255, 255, 255, 0.17);
      backdrop-filter: blur(15px);
      box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
      height: 100px;
      opacity: 80%;
      
    }
    